<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

<!--    org.apache.log4j.RollingFileAppender(滚动文件，自动记录最新日志)
    org.apache.log4j.ConsoleAppender (控制台)
    org.apache.log4j.FileAppender (文件)
    org.apache.log4j.DailyRollingFileAppender (每天产生一个日志文件)
    org.apache.log4j.WriterAppender (将日志信息以流格式发送到任意指定的地方)-->

<!--    %c        输出所属类的全名，可在修改为 %d{Num} ,Num类名输出的维（如："org.apache.elathen.ClassName",%C{2}将输出elathen.ClassName）
    %d       输出日志时间其格式为 %d{yyyy-MM-dd HH:mm:ss,SSS}，可指定格式 如 %d{HH:mm:ss}
    %l        输出日志事件发生位置，包括类目名、发生线程，在代码中的行数
    %n       换行符
    %m      输出代码指定信息，如info(“message”),输出message
    %p       输出优先级，即 FATAL ,ERROR 等
    %r        输出从启动到显示该log信息所耗费的毫秒数
    %t        输出产生该日志事件的线程名-->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%c %-5p %x - %m%n" />
        </layout>
        <!--限制输出级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="FATAL"/>
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/bgy-api.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
        </layout>
    </appender>
<!--

    <appender name="DATABASE" class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="URL" value="jdbc:oracle:thin:@192.168.0.59:1521:oanet"/>
        <param name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <param name="user" value="hdczoa"/>
        <param name="password" value="system"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="INSERT INTO hdczoa.LOG4J(stamp,thread, info_level,class,message) VALUES ('%d', '%t', '%p', '%c', %m)" />
        </layout>
    </appender>
-->
 <!--
    <appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
        <param name="threshold" value="ERROR" />
        <param name="BufferSize" value="512" />
        <param name="From" value="test@163.com" />
        <param name="SMTPHost" value="smtp.163.com" />
        <param name="Subject" value="juyee-log4jMessage" />
        <param name="To" value="test@163.com" />
        <param name="SMTPUsername" value="test" />
        <param name="SMTPPassword" value="test" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
        </layout>
    </appender>
-->
<!--    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="256" />
        <appender-ref ref="DATABASE" />
    </appender>-->

    <!--通过<logger></logger>的定义可以将各个包中的类日志输出到不同的日志文件中
    <logger name="com.litt2.log4j" additivity="false">
        <level value="WARN" />
        <appender-ref ref="CONSOLE" />
    </logger>-->
    <!--通过<category></category>的定义可以将各个包中的类日志输出到不同的日志文件中
    <category name="com.litt3">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MAIL" />
    </category>
-->
    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>
